html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.link-privacy {
    background-color: rgb(44,66,117);
    color: white
}

.link-privacy:hover{
    transition: 0.25s;
    color: white;        
    background-color: rgb(28, 53, 111);
}

.link-disabled {
    text-decoration: none;
    color: white;
    background-color: rgb(128, 128, 128);
    font-size: 14px !important;
}

.link-edit {
    text-decoration: none;
    color: white;
    background-color: rgb(43, 88, 216);
    font-size: 14px !important;
}

    .link-edit:hover {
        transition: 0.25s;
        color: white;
        background-color: rgb(81, 127, 254);
    }

.link-details {
    text-decoration: none;
    color: white;
    background-color: rgb(53, 139, 16);
    font-size: 14px !important;
}

    .link-details:hover {
        transition: 0.25s;
        color: white;
        background-color: rgb(67, 172, 22);
    }

.link-delete {
    text-decoration: none;
    color: white;
    background-color: rgb(161, 12, 12);
    font-size: 14px !important;
}

    .link-delete:hover {
        transition: 0.25s;
        color: white;
        background-color: rgb(255, 0, 0);
    }

.link-alterar-status {
    text-decoration: none;
    color: white;
    font-size: 14px !important;
    background-color: rgb(255, 106, 0);
}

    .link-alterar-status:hover {
        transition: 0.25s;
        color: white;
        background-color: rgb(255, 150, 0);
    }