html {
    font-size: 16px;
}

@media (max-width: 768px) {
    html {
        font-size: 7.75px;
    }
    .switch-onoff{
        width: 24px;
        height: 24px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.link-privacy {
    background-color: rgb(44,66,117);
    color: white;
}

.link-privacy:hover{
    transition: 0.25s;
    color: white;        
    background-color: rgb(28, 53, 111);
}

.link-disabled {
    text-decoration: none;
    color: white;
    background-color: rgb(128, 128, 128);
}

.link-disabled:hover {
    color: white;
}

.link-edit {
    text-decoration: none;
    color: white;
    background-color: rgb(43, 88, 216);
}

    .link-edit:hover {
        transition: 0.25s;
        color: white;
        background-color: rgb(28, 53, 111);
    }

.link-details {
    text-decoration: none;
    color: white;
    background-color: rgb(209, 160, 24);
}

    .link-details:hover {
        transition: 0.25s;
        color: white;
        background-color: rgb(160, 134, 11);
    }

.link-delete {
    text-decoration: none;
    color: white;
    background-color: rgb(161, 12, 12);
}

    .link-delete:hover {
        transition: 0.25s;
        color: white;
        background-color: rgb(122, 14, 14);
    }