@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
      <div class="container-fluid">
        <h1 class="display-5 fw-bold text-center" style="color: rgb(150,30,30)">Academia Treinee Vixteam</h1>
        <p class="fs-4 pb-3" style="color: rgb(18,25,100); font-weight: 500">Este site foi desenvolvido durante a Academia Vixteam! Clique no botão abaixo para acessar o conteúdo do nosso projeto!</p>
        <button class="me-3 btn btn-success btn-lg" onclick="alert('Manutenção: O dashboard ainda não está disponível. Por favor, tente outro dia')" type="button">Acessar dashboard!</button>
        <a asp-area="" asp-controller="Home" asp-action="Privacy" class="btn btn-lg link-privacy">Privacy</a>
      </div>
    <p class="mt-4">@DateTime.Now</p>
</div>
